#contact-links {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    text-align: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .1s;
    z-index: 200;
}

#contact-links-bottom {
    text-align: center;
    margin-top: -50px;
    background-color: #111;
    padding: 150px;
}

#contact-links-bottom .title {
    margin-bottom: 90px;
}

#contact-links-bottom .links {
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all .5s;
    margin-bottom: 60px;
}

#contact-links img,
#contact-links-bottom img {
    transform: scale(.5);
    padding: 10px;
}

#contact-links-bottom a {
    min-width: 30px;
}

#contact-links a,
#contact-links-bottom a {
    font-size: 20px;
    transition: all .2s;
    font-weight: bold;
    height: 70px;
    width: 70px;
}

#contact-links a:not(:first-child) {
    border-top: none;
}

#contact-links-bottom a:not(:first-child) {
    border-left: none;
}

#contact-links #facebook:hover,
#contact-links-bottom #facebook:hover {
    background-color: rgb(0, 102, 255);
    border-color: rgb(0, 102, 255);
}

#contact-links #github:hover,
#contact-links-bottom #github:hover {
    background-color: rgb(95, 0, 204);
    border-color: rgb(95, 0, 204);
    color: #222;
}

#contact-links #linkedin:hover,
#contact-links-bottom #linkedin:hover {
    background-color: rgb(20, 161, 255);
    border-color: rgb(20, 161, 255);
}

#contact-links #gmail:hover,
#contact-links-bottom #gmail:hover {
    background-color: rgb(248, 48, 34);
    border-color: rgb(248, 48, 34);
}

@media only screen and (max-width: 1000px) {
    #contact-links img,
    #contact-links-bottom img {
        padding: 5px;
    }


    #contact-links a,
    #contact-links-bottom a {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 700px) {
    #contact-links {
        display: none;
    }
    
    #contact-links-bottom {
        padding: 50px;
    }
    
    #contact-links-bottom .title {
        font-size: 35px;
    }

    #contact-links-bottom a {
        font-size: 15px;
        min-width: 20px;
    }
}