#hero {
    text-align: center;
    background-color: #111;
    padding-top: 100px;
}

#hero * {
    z-index: 100;
    position: relative;
}

#hero #profile-image {
    border: 2px solid #eee;
    border-radius: 100%;
    margin: 100px auto 20px;
    display: block;
}

#hero #cv-link {
    display: inline-flex;
    justify-content: center;
    background-color: #191919;
    padding: 10px;
    position: block;
    transition: all .3s;
}

#hero #cv-link img {
    display: block;
    margin-top: 3px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

#hero #cv-link:hover {
    background-color: #222;
}

#hero #caption {
    margin-top: 0px;
    color: #ddd;
    margin-bottom: 60px;
}

#hero .description {
    font-size: 30px;
    line-height: 35px;
    margin: 30px auto;
}

#hero #scrolldown-arrow {
    cursor: pointer;
    display: inline;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation: floatUpDown infinite 1.5s ease-in-out;
}

@keyframes floatUpDown {
    0% {
        transform: translate(-50%, 0px);
    }
    50% {
        transform: translate(-50%, 20px);
    }
    100% {
        transform: translate(-50%, 0px);
    }
}

@media only screen and (max-height: 1100px) {
    #hero #profile-image {
        height: 240px;
        width: 240px;
    }

    #hero #caption {
        font-size: 15px;
    }

    #hero .title {
        font-size: 35px;
    }

    #hero .description {
        font-size: 25px;
    }

    #hero #scrolldown-arrow {
        position: static;
        bottom: auto;
    }
}

@media only screen and (max-width: 1000px) {
    #hero {
        margin-top: -50px;
    }
    
    #hero #profile-image {
        height: 240px;
        width: 240px;
    }

    #hero #caption {
        font-size: 15px;
    }

    #hero .title {
        font-size: 35px;
    }

    #hero .description {
        font-size: 25px;
        max-width: 70%;
    }
}

@media only screen and (max-width: 570px), only screen and (max-height: 1000px) {
    #hero {
        padding-top: 20px;
        margin-top: 0;
    }

    #hero #profile-image {
        margin-top: 20px;
        width: 180px;
        height: 180px;
    }

    #hero .description {
        min-height: 250px;
    }
}

@media only screen and (max-width: 500px), only screen and (max-height: 850px) {
    #hero #profile-image {
        margin-top: 0;
    }

    #hero #caption {
        margin-bottom: 10px;
    }

    #hero .description {
        margin-bottom: 10px;
        font-size: 23px;
        line-height: 32px;
    }

    #hero #scrolldown-arrow {
        display: none;
    }
}
