#hero {
    text-align: center;
}

#hero #profile-image {
    border: 2px solid #eee;
    border-radius: 100%;
    margin: 100px auto 20px;
    display: block;
}

#hero #caption {
    margin-top: 0px;
    color: #ddd;
    margin-bottom: 60px;
}

#hero .description {
    font-size: 30px;
    line-height: 35px;
}

#hero #scrolldown-arrow {
    cursor: pointer;
    display: inline;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}