#particles {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

#particles > * {
    width: 20vw;
}

@media only screen and (max-width: 500px) {
    #particles > * {
        width: 50vw;
    }
}