#projects {
    padding: 150px;
}

#projects .title {
    text-align: center;
}

#projects .project {
    display: flex;
    justify-content: space-evenly;
}

#projects .project:nth-of-type(even) {
    flex-direction: row-reverse;
}

#projects .project {
    margin: 150px;
}

#projects .project .mockup {
    margin: 0 50px;
}

#projects .project .info {
    font-size: 25px;
    max-width: 500px;
}

#projects .project .links {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .project .links a {
    margin: 10px 15px;
    border-radius: 3px;
    padding: 10px 20px;
    position: relative;
    transition: all .4s ease;
}

#projects .project .links .code-link {
    border: 1px solid #aaa;
    background-color: #111;
}

#projects .project .links .website-link {
    border: 2px solid #444;
    background-color: #efefef;
    color: #111;
}

#projects .project .links a .icon {
    position: absolute;
    top: 15px;
    opacity: 0;
    right: 15px;
    transition: all .4s ease;
}

#projects .project .links a:hover {
    padding-right: 55px;
    box-shadow: 0px 16px 30px 0px rgba(0,0,0,0.5);
}

#projects .project .links a:hover .icon {
    opacity: .9;
    right: 13px;
}

@media only screen and (max-width: 1650px) {
    #projects {
        padding: 100px;
    }

    #projects .project {
        margin: 150px 0;
        justify-content: space-between;
    }

    #projects .project .info {
        max-width: 100%;
    }

    #projects .project .mockup {
        transform: scale(.7);
    }
}

@media only screen and (max-width: 1220px) {
    #projects .project,
    #projects .project:nth-child(odd) {
        flex-direction: column-reverse;
    }

    #projects .project .mockup {
        transform: scale(1);
        margin: auto;
        width: auto;
        height: 300px;
    }
}

@media only screen and (max-width: 700px) {
    #projects {
        padding: 70px;
    }

    #projects .project .mockup {
        width: 100%;
        height: auto;
    }
}