* {
    scrollbar-color: #333 #111;
}

::-webkit-scrollbar {
    height: 8px;
    width: 12px;
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-corner {
    background: #111;
}