#skills {
    padding: 0 150px 0;
}

#skills .title {
    margin-bottom: 50px;
}

#skills .skills-lists {
    display: flex;
    justify-content: space-evenly;
}

#skills .sub-title {
    font-size: 34px;
    margin-bottom: 70px;
    font-weight: bold;
    text-align: center;
}

#skills .skills-list {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    font-size: 28px;
}

#skills .skill:after {
    z-index: 100;
    content: '';
    display: block;
    border-bottom: 5px solid rgb(0, 140, 255);
    transition: all .3s ease;
    margin-bottom: 30px;
    transform: scaleX(0);  
}

#skills .skill:hover:after {
    transform: scale(1);
}

#skills .skill .flex-container {
    display: flex;
    padding: 15px 25px 15px 0;
    transition: all .1s ease-in;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 350px;
    padding: 20px;
    border: 5px solid transparent;
}

#skills .skill:hover .flex-container {
    background-color: #252525;
}

#skills .skill .icon {
    width: 50px;
}

@media only screen and (max-width: 1450px) {
    #skills {
        margin-top: -70px;
    }

    #skills .title {
        margin-bottom: 130px;
    }

    #skills .skills-lists {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #skills .skill {
        margin: auto;
        margin-bottom: 20px;
    }

    #skills .skill .flex-container {
        background-color: #1f1f1f;
    }

    #skills .skill:hover:after {
        transform: scale(0);
    }
    
    #skills .skill:hover {
        border-color: transparent;
    }

    #skills .frontend .skill:hover,
    #skills .backend .skill:hover {
        box-shadow: none;
    }

    #skills .frontend {
        margin-bottom: 150px;
    }
}

@media only screen and (max-width: 700px) {
    #skills {
        margin-top: 50px;
        padding: 30px;
    }

    #skills .title {
        margin-bottom: 70px;
    }

    #skills .skill {
        min-width: 250px;
    }

    #skills .sub-title {
        margin-bottom: 30px;
    }
    
    #skills .frontend {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 500px) {
    #skills .skill {
        margin-bottom: 0px;
    }

    #skills .skill .flex-container {
        width: 80vw;
        min-width: 0;
    }
}
